
/* Mobile first */
@media only screen and (max-width: 600px) {

    .users-list tr,td,th{
        font-size: small;
        color: white;
    }

    .users-list td:hover{
        color: red;
    }
    
}

/* Desktop Here*/
@media only screen and (min-width: 640px) {
    .tool-tabs{
        margin-top: 40px;
        
    }

    .users-list{
        width: 840px;
        margin: 20px;
    }
    .users-list tr,td,th{
        font-size: small;
        color: black;
    }

    .users-list td:hover{
        color: red;
    }

}