body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: lighter;
    font-style: normal;
}
  
  @media screen and (min-width: 980px) /* Desktop */ {

    .tagg-logo-big{
        position: absolute;
        width: 814px;
        height: 567.54px;
        left: 20px;
        top: 20px;
    }

    .sign-card{
        position: absolute;
        width: 381px;
        height: 568px;
        left: 240px;
        top: 20px;
        padding: 20px;
    }
    .sign-card ul{
        list-style: none;
        margin-top:10px;
    }

    .sign-card li{
        display: inline-block;
        margin-left: 10px;
    }

    .content{
        position: absolute;
        width: 100%;
        height: 680px;
        top: 560px;
        padding: 80px;
        align-content: center;
        text-align: center;
    }
    .home-card{
        display: inline-block;
        width: 18rem;
        margin: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }
    .home-card img{
        width: 18rem;
        height: 300px;
    }

    .faq{
        position: absolute;
        width: 920px;
        top:1200px;
        left: 220px;
        text-align: center;
        align-content: center;
    }
    footer{
        position: absolute;
        top: 1400px;
        width: 100%;
        height:360px;
        padding: 40px;
        background: #21211F;
        align-content: center;
        
    }
    .footer-logo-area img{
        float: left;
        max-width: 180px;
        max-height: 180px;
        margin: 20px;
    }
    
    .footer-text{
        float: left;
        max-width: 600px;
        margin-left: 20px;
        margin-top: 20px;
        color:#EAE6DA;
        font-size: 12px;
    }

    .footer-text input{
        margin: 10px;
        padding: 5px;
        width: 200px;
        font-size: 12px;
        background-color: #1d1d1d;
    }
    .footer-text a{
        max-width: 200px;
        color:#EAE6DA;
    }

    .footer-text a:hover{
        color:red;
        font-size: medium;
    }
    .footer-end{
        margin-top: 280px;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #EAE6DA;
    }

    .game-feed{
        width: 100%;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .game-container{
        flex-direction: row;
        width: 18rem;
        margin-bottom: 20px;
    }

  }
  
  @media screen and (max-width: 500px) /* Mobile */ {
    body {
        background-color: #21211F;
        height: 120vh;
    }

    .tagg-logo-big{
        max-width: 400px;
    }

    .sign-card{
        width: 100%;
        padding: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .sign-card ul{
        list-style: none;
        margin-top:10px;
    }

    .sign-card li{
        display: inline-block;
        margin-left: 10px;
    }


    .login-card{
        margin-top: 40px;
        width: 100%;
        padding: 40px;
        background-color: #21211F;
        color: #EAE6DA;
    }
    .login-card input{
        margin-bottom: 10px;
    }

    .home-card{
        padding: 20px;
        margin: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .home h4{
        margin-left: 40px;
        color: #EAE6DA;
    }

    footer{
        bottom: 0;
        width: 100%;
        height:800px;
        background: #21211F;
        align-content: center;
        
    }
    .footer-logo-area img{
        max-width: 200px;
        max-height: 200px;
        margin: 20px;
    }
    
    .footer-text{
        float: left;
        max-width: 600px;
        margin-left: 20px;
        margin-top: 20px;
        color:#EAE6DA;
        font-size: 12px;
    }

    .footer-text input{
        margin: 10px;
        padding: 5px;
        width: 200px;
        font-size: 12px;
        background-color: #1d1d1d;
    }
    .footer-text a{
        max-width: 200px;
        color:#EAE6DA;
    }

    .footer-text a:hover{
        color:red;
        font-size: medium;
    }
    .footer-end{
        position: absolute;
        margin-top: 520px;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #EAE6DA;
    }

    .dashboard{
        width: 100%;
    }

    .game-feed{
        width: 100%;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .game-container{
        width: 22rem;
        margin-bottom: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .profile{
        background-color: #21211F;
        color: #EAE6DA;
    }

    .user-picture{
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

    .profile a{
        color:red;
    }

    .add-game{
        color: #EAE6DA;
        margin-top: 20px;
        padding: 10px;
    }

    .add-game input{
        margin-bottom: 5px;
    }
    .add-game button{
        margin-top: 5px;
    }

    .collection{
        margin-top: 20px;
        margin: 20px;
        color: #EAE6DA;
    }

    .game-thumb{
        margin-bottom: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }
    .game-thumb img{
        max-height: 420px;
    }

    .game-thumb a{
        color: red;
    }

    .game-details{
        background-color: #21211F;
        color: #EAE6DA;
    }

    .game-details-footer{
        margin: 10px;
        background-color: #21211F;
        color: #EAE6DA;
        align-content: center;
    }


    .game-details-footer img{
        max-height: 360px;
    }

    .game-details-footer a{
        color:red
    }
    .game-details-footer ul{
        list-style: none;
    }
    .game-details-footer li{
        margin: 5px;
        display: inline-block;
        max-width: 80px;
    }

    .users-list{
        margin: 20px;
    }
    .users-list tr,td,th{
        color:#EAE6DA
    }

    .admin-modal .modal-content{
        max-width: 375px;
        background-color: #21211F;
        color: #EAE6DA;
    }
    .admin-modal input{
       margin-bottom: 10px;
    }

    .metric-card{
        margin-top: 10px;
        max-width: 480px;
        background-color: DA9B68;
        color: #21211F;
    }

    .chat-list{
        height: 110vh;
        width: 100%;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .contact{
        list-style: none;
    }
    
    .contact li{
        display: inline-block;
        margin: 10px;
    }

    .chat-screen{
        background-color: #21211F;
        color: #EAE6DA;
    }

    .notify-screen{
        height: 100vh;
        background-color: #21211F;
        color: #EAE6DA;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #21211F;
        background-color: #EAE6DA;
        border-color: none;
    }
    
    .nav-tabs {
        border-bottom: none;
    }
    
    .nav-tabs .nav-link{
        color:#EAE6DA
    }
    .nav-tabs .nav-link:hover{
        color:red
    }

    .update-request {
        list-style: none;
    }
    .update-request li{
        display: inline-block;
        margin: 10px;
    }

    .processing{
        height: 100vh;
        background-color:#EAE6DA;
        color: #21211F;
    }
    .mailbox-fail{
        height: 100vh;
        background-color:#21211F;
    }
    
  }