body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: lighter;
    font-style: normal;
}
  
  @media screen and (min-width: 980px) /* Desktop */ {
    body {
     background-color: #EAE6DA;
    }
  }
  
  @media screen  and (max-width: 979px) /* Tablet */ {
    body {
        background-color: #21211F;
    }
  }
  
  @media screen and (max-width: 500px) /* Mobile */ {
    body {
        background-color: #21211F;
        height: 120vh;
    }

    .tagg-logo-big{
        max-width: 500px;
    }

    .sign-card{
        width: 100%;
        padding: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .sign-card button{
        margin-top:10px;
    }

    .login-card{
        margin-top: 40px;
        width: 100%;
        padding: 40px;
        background-color: #21211F;
        color: #EAE6DA;
    }
    .login-card input{
        margin-bottom: 10px;
    }

    .home-card{
        padding: 20px;
        margin: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .home h4{
        margin-left: 40px;
        color: #EAE6DA;
    }

    footer{
        bottom: 0;
        width: 100%;
        height:800px;
        background: #21211F;
        align-content: center;
        
    }
    .footer-logo-area img{
        max-width: 200px;
        max-height: 200px;
        margin: 20px;
    }
    
    .footer-text{
        float: left;
        max-width: 600px;
        margin-left: 20px;
        margin-top: 20px;
        color:#EAE6DA;
        font-size: 12px;
    }

    .footer-text input{
        margin: 10px;
        padding: 5px;
        width: 200px;
        font-size: 12px;
        background-color: #1d1d1d;
    }
    .footer-text a{
        max-width: 200px;
        color:#EAE6DA;
    }

    .footer-text a:hover{
        color:red;
        font-size: medium;
    }
    .footer-end{
        position: absolute;
        margin-top: 520px;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #EAE6DA;
    }

    .dashboard{
        width: 100%;
    }

    .game-feed{
        width: 100%;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .game-container{
        width: 18rem;
        margin-bottom: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .profile{
        background-color: #21211F;
        color: #EAE6DA;
    }

    .user-picture{
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
        from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

    .profile a{
        color:red;
    }

    .add-game{
        color: #EAE6DA;
        margin-top: 20px;
        padding: 10px;
    }

    .add-game input{
        margin-bottom: 5px;
    }
    .add-game button{
        margin-top: 5px;
    }

    .collection{
        margin-top: 20px;
        margin: 20px;
        color: #EAE6DA;
    }

    .game-thumb{
        margin-bottom: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .game-thumb a{
        color: red;
    }

    .game-details{
        margin: 20px;
        background-color: #21211F;
        color: #EAE6DA;
    }

    .game-details-footer{
        background-color: #21211F;
        color: #EAE6DA;
        align-content: center;
    }

    .game-details-footer a{
        color:red
    }
    .game-details-footer button{
        margin: 5px;
    }

    .users-list{
        margin: 20px;
    }
    .users-list tr,td,th{
        color:#EAE6DA
    }

    .metric-card{
        margin-top: 10px;
        max-width: 480px;
        background-color: DA9B68;
        color: #21211F;
    }

    .chat-list{
        height: 180px;
        width: 100%;
    }

    .notify-screen{
        height: 100vh;
    }
  }